@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&family=Noto+Sans+JP&family=Sometype+Mono&display=swap');

 body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background:linear-gradient(72deg, #aca2f8 3%, #6d346b 98%);
  }

